.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;


    border-radius: 5px;
    background-color: var(--acent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active{
    position: relative;
    top: 1px;
}

.btn-outline {

    display: flex;
    column-gap: 10px;
    align-items: center;

    padding: 12px 20px;
    height: 48px;

    border-radius: 5px;

    border: 1px solid var(--dark-border);
    color: var(--black);

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active{
    position: relative;
    top: 1px;
}
