.course {
    display: flex;
    flex-direction: column;

    max-width: 370px;
    background-color: var(--white);
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.course__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.course__title {
    flex-grow: 1;
    padding: 15px 20px 25px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;

    color: var(--page-text-color);
}