.course {
    max-width: 370px;
    background-color: var(--white);
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.course__image {
    border-radius: 10px;
}

.course__title {
    padding: 15px 20px 25px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;

    color: var(--page-text-color);
}