.text-blocks-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-blocks-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
}

.empty-msg {
    color: var(--medium-gray);
    font-size: 16px;
}

.text-blocks-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.text-block-item {
    background: var(--snow);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}


.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn img {
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease;
}

.icon-btn:hover img {
    transform: scale(1.15);
}

.add-btn {
    background-color: var(--acent);
}

.add-btn:hover {
    background-color: var(--bright-blue);
}

.delete-btn {
    background-color: var(--red);
}

.delete-btn:hover {
    background-color: var(--rose);
}