.text-blocks-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-blocks-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
}

.empty-msg {
    color: var(--medium-gray);
    font-size: 16px;
}

.text-blocks-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.text-block-item {
    background: var(--snow);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}
