.create-course-wrapper {
    margin: 0 auto;
    max-width: 900px;
    padding: 15px 15px;

    border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.input-data-list {

}
.input-data-list__item {
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;

}

.input-data-list__item__title {
    flex-shrink: 0;
    width: 200px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--page-text-color);
}

.input-field {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    color: #222;
    background-color: var(--white);

    border: 2px solid var(--input-border);
    border-radius: 10px;

    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    transition: all 0.25s ease;
}

.input-field::placeholder {
    color: var(--medium-gray);
    transition: color 0.3s ease;
}

.input-field:focus {
    border-color: var(--bright-blue); /* голубой */
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.3);
}

.input-field:focus::placeholder {
    color: transparent;
}

.input-field.error {
    border-color: var(--error); /* красный при ошибке */
    box-shadow: 0 0 6px rgba(239, 68, 68, 0.3);
}

.save-btn {
    display: flex;
    justify-content: flex-end;
}