@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "DM Sans", sans-serif;
*/

:root {

    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5c62ec;
    --red: #ef4444;
    --bright-blue: #3b82f6;
    --light-gray: #ccc;
    --medium-gray: #aaa;

    --page-text-color: var(--black);
    --dark-bd: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --acent: var(--purple);
    --error: var(--red);
    --input-border: var(--light-gray);
}

.html, body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    color: var(--page-text-color);
}

#root {
    min-height: 100vh;
}

.App {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1440px;
}


.section {    
    padding: 70px 0;
}


.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;

    color: var(--acent);
    text-align: center;

}

.title-2 {
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 40px;
    color: var(--black);
    line-height: 1.3;
}


.content-list {
    margin: 0 auto;
    max-width: 570px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width:620px) {

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong{
        font-size: 40px;
    }

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .roject__title {
        font-size: 22px;
    }
    
    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    .social {
        column-gap: 20px;
    }
    .social__item {
        width: 20px;
    }

    .content-list {
        row-gap: 20px;
    }

}
