@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "DM Sans", sans-serif;
*/

:root {

    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5c62ec;

    --page-text-color: var(--black);
    --dark-bd: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --acent: var(--purple);
}

.html, body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    color: var(--page-text-color);
}

#root {
    min-height: 100vh;
}

.App {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}


.section {    
    padding: 70px 0;
}


.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;

    color: var(--acent);
    text-align: center;

}

.title-2 {
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 40px;
    color: var(--black);
    line-height: 1.3;
}



/*Nav*/



/*Header*/



.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;


    border-radius: 5px;
    background-color: var(--acent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active{
    position: relative;
    top: 1px;
}



/*Projects*/



.projects {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}


/*Project details*/
.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}





.content-list {
    margin: 0 auto;
    max-width: 570px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

@media (max-width:620px) {

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong{
        font-size: 40px;
    }

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .roject__title {
        font-size: 22px;
    }
    
    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    .social {
        column-gap: 20px;
    }
    .social__item {
        width: 20px;
    }

    .content-list {
        row-gap: 20px;
    }

}
