.spinner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.spinner {
    border: 4px solid var(--medium-gray);
    border-top: 4px solid var(--acent);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
