
.filter-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    color: var(--black);
    line-height: 1.3;
}

.filter-directions {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.filter-direction {
    padding: 8px 16px 8px 8px;
    font-size: 20px;
    line-height: 1.3;
    color: var(--page-text-color);

    transition: background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;

}

.filter-direction:hover {
    opacity: 0.8;
    border-radius: 5px;
    background-color: var(--dark-bd);
    cursor: pointer;
    color: var(--white);
}

.filter-direction:active {
    transform: scale(0.97);
}

.btn-filter {
    padding: 8px 8px;
    width: 62px;

    border-radius: 10px;
}

.btn-filter:active {
    transform: scale(0.97);
}

.time-filter {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    margin-bottom: 20px;
}

