/* Конструктор теста */
.test-container {
    margin: 20px;
    padding: 20px;
    border: 2px dashed var(--black-border);
    border-radius: 10px;
    background: #f9fcff;
}

.test-constructor-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.test-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--page-text-color);
}

.question-block {
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.answer-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}