/* Конструктор теста */
.test-constructor {
    margin: 20px;
    padding: 20px;
    border: 2px dashed var(--black-border);
    border-radius: 10px;
    background: #f9fcff;
}

.test-constructor__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--page-text-color);
}


.add-btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--acent);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.add-btn:hover {
    opacity: 0.8;
}

.add-btn:active {
    transform: scale(0.95);
}

.question-block {
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.answer-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}