
/*Courses*/



.courses {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.courses__wrapper {
    display: flex;
    column-gap: 20px;
}

.course-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.course-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.course-details__desc {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

.courses-container {
    width: 100%;
}