.footer {
    margin-top: auto;
    padding: 30px 0 30px;
    background-color: var(--dark-bd);
    color: var(--header-text);

}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}
