.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    pointer-events: all;
}

.loading-overlay .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid var(--medium-gray);
    border-top-color: var(--acent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}
.loading-overlay p {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
